<header>
  <div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
      <div class="content-wrap">
        <img
          class="logo"
          src="../assets/images/branding/final_personal_logo_horizontal.png"
          alt=""
        />
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <nav class="main-nav">
      <a href="#design">Design</a>
      <a href="#illustration">Illustration</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</header>

<!-- Main Area -->
<main id="main">
  @for(portfolioSection of portfolioSections; track $index) {
  <section [id]="portfolioSection.id" class="portfolio-body">
    <div class="container">
      <div
        class="gallery-container"
        [ngClass]="[
          'h-' + portfolioSection.dimensions.height,
          'w-' + portfolioSection.dimensions.width
        ]"
      >
        <div class="image">
          <img
            class="gallery-title"
            [src]="portfolioSection.sectonImage"
            [alt]="portfolioSection.alt"
          />
        </div>
      </div>

      @for(portfolioItem of portfolioSection.portfolioItems; track $index) {
      <div
        class="gallery-container"
        [ngClass]="[
          'h-' + portfolioItem.dimensions.height,
          'w-' + portfolioItem.dimensions.width
        ]"
      >
        <div class="gallery-item">
          <div class="image">
            <app-preview-image
              [image]="portfolioItem.image"
              [alt]="portfolioItem.alt"
            ></app-preview-image>
          </div>
          <div class="text">{{portfolioItem.alt}}</div>
        </div>
      </div>
      }
    </div>
  </section>
  }


  <!--About-->
  <section id="about" class="footer">
    <div class="about-me">
      <div class="bio-pic">
        <img src="../assets/images/branding/profile_picture.png" />
      </div>
      <div class="about-text">
        <h1>About Me</h1>
        <p style="font-size: 22px">
          Hi! My name is Kaylee Maclure and I'm a Graphic Designer and
          Illustrator originally from the sleepy leaf peeping state of Vermont
          with a taste for nerdy & creative hobbies. You want to talk horror
          movies or have a discussion about the latest video game? I'm your
          person. Being a creative at heart, I'm always seaking the next
          crafting project whether it be painting or crochet. Overall, an open
          minded person with an interest in many things except for sports,
          unless we are talking esports.
        </p>

        <p style="font-size: 22px; margin-top: 10px">
          As for experience, I have a Bachelors in Graphic Design along with 6
          years of experience in the industry. I started off working as a
          Freelancer, then a Graphic Designer and Print Production Specialist at
          CW Creative, to currently working as a jack-of-all-trades Graphic
          Designer with a not-for-profit insurance advirsory association called
          AAIS. My future goals include gaining a firm grasp of Java Script,
          furthering my experience with video editing, and working my way to the
          position of Creative Director in the future. Currently I have
          familiarity with video production, animation, HTML, CSS, and a firm
          understanding of UI/UX and web design. My favorite project is logo or
          branding design where I'm able to thoroughly utilize my talent for
          illustration. When I don't have my graphic design hat on, I'm a crafty
          creative at heart who has a pentient for horror and comedy movies.
        </p>
        <h3>E-mail: kayleemaclure&#64;gmail.com</h3>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="main-footer" class="grid">
    <h5>Kaylee Maclure Studio &copy;</h5>
  </footer>
</main>
