<header>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="content-wrap">
        <img class="logo" src="../assets/images/branding/final_personal_logo_horizontal.png" alt="">
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <nav class="main-nav">
      <a href="#design">Design</a>
      <a href="#illustration">Illustration</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</header>

<!-- Main Area -->
<main id="main">
  <!-- Section A -->
  <section id="design" class="portfolio-body">
    <h1>Design Portfolio</h1>
    <div class="container">
      <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">
            <span>Fitness Unbound 2018 Radio Event</span>
          </div>
        </div>
      </div>

      <div class="gallery-container w-3 h-3">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container w-2">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container w-4 h-2">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container h-2 w-2">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section B -->
  <section id="illustration" class="portfolio-body">
    <h1>Illustration Portfolio</h1>
    <div class="container">
      <div class="gallery-container w-3 h-2">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container w-3 h-3">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container w-2">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container w-4 h-1">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container h-2 w-1">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>

      <div class="gallery-container">
        <div class="gallery-item">
          <div class="image">
            <img src="../assets/images/fitness_unbound_2018_radio_event_final.jpg" alt="">
          </div>
          <div class="text">Fitness Unbound 2018 Radio Event</div>
        </div>
      </div>
    </div>
  </section>

  <!--About-->
  <section id="about" class="footer">
    <div class="about-me">
      <div class="bio-pic">
        <img
          src="http://res.cloudinary.com/dc7s2okmx/image/upload/c_scale,h_400/v1515899540/photo-1479936343636-73cdc5aae0c3_zspukv.jpg" />
      </div>
      <div class="about-text">
        <h1>About Me</h1>
        <p>Hi! My name is Karina and this is Check This Out.This personal review blog is filled with all my favoites.
          From movies to bucket list ideas to random suggestions for you. This is my personal taste so I can confirm
          that all the suggestions made are the best suggestions in the entire universe! Well... at least to me they
          are. Have fun looking around. I hope you find something worth enjoying. </p>
      </div>
    </div><!-- end col-md-12-->
  </section>

  <!-- contact -->
  <section id="contact">
    <div class="contact-me">
      <div class="bio-pic">
        <img
          src="http://res.cloudinary.com/dc7s2okmx/image/upload/c_scale,h_400/v1515899540/photo-1479936343636-73cdc5aae0c3_zspukv.jpg" />
      </div>
      <div class="about-text">
        <h3>(802) 487 - 4273</h3>
        <h4>kayleemaclure@gmail.com</h4>
      </div>
    </div><!-- end col-md-12-->

    <!-- Footer -->
    <footer id="main-footer" class="grid">
      <h5>Kaylee Maclure Studio &copy;</h5>
    </footer>
  </section>
</main>