@import "./material-custom.scss";

/* Core Styles */
body {
    margin: 0;
    background: #ccc;
    font-family: arial, verdana, tahoma;
    background: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    width:100%;
}
html{
    width:100%;
}
*{
    box-sizing:border-box;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.title {
    display: inline-block;
    width: 85%;
}

/* Header Showcase */

.logo {
    display: inline-block;
    margin: 0 1rem;
    width: 20em;
    float: left;
}

header {
    min-height: 130px;
    color: #fff;
    margin: 1em;
}

/* Navigation */
.nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    padding: 10px 10px 10px 10px;
  }
.nav .nav-btn {
    display: none;
  }
  .nav > .main-nav {
    display: inline;
    float: right;
    padding-top: 3rem;
    font-size: 18px;
  }
  .nav > .main-nav > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  .nav > .main-nav > a:hover {
    color: #0097C6;
  }
.nav #nav-check{
    display:none;
}
.main-nav a {
    text-decoration: none;
    color: #58595B;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #FBAA19;
}
@media screen and (max-width:940px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-top:1.5em;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #0097C6;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .main-nav {
      position: absolute;
      display: block;
      z-index:5;
      width: 100%;
      background-color: rgb(255, 255, 255);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      overflow-x: hidden;
      top: 120px;
      left: 0px;
    }
    .nav > .main-nav > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .main-nav {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .main-nav {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .nav .nav-header .content-wrap .logo {
    width: 15em;
    }
  }

/* about */

.about-me {
	margin:10em 4em 4em 4em;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:100%;
    display:flex;
    align-items: top;
    justify-content: center;
}
.bio-pic {
    width:400px;
    flex:1;
}
.bio-pic img{
    max-width:100%;
    min-width:280px;
}
.about-text {
    display:flex;
    flex-direction:column;
    padding: 0 0 0 30px;
    width:60%;
    color: white;
    flex:3;
    text-align:left;
}
.about-text h1 {
font-size: 35px;
}

@media only screen and (max-width: 767px) {
	.about-me {
		padding: 0 10px;
        flex-direction:column;
        align-items: center;
        margin: 10em 0 0 0;	
	}
    .about-text {
        margin:5em 0;
        width:90%;
        flex:1;
        text-align:center;
    }
    .bio-pic img {
        min-width: 280px;
    }
}
.footer {
    background-image: url("../src/assets/images/graphics/about_me.png"); 
    position: absolute;
    width:100%;
    height: fit-content;
}

/* portfolio */

.portfolio-body {
margin:20px;
padding: 0;
text-align:center;
}
.container {
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 100px 300px;
    grid-gap:10px;
    grid-auto-flow:dense;
}
.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.gallery-item .image {
    width:100%;
    height: 100%;
    overflow:hidden;
}
.gallery-item .image .gallery-images {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.gallery-item .text{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:25px;
    pointer-events:none;
    z-index:4;
    transition: .3s opacity cubic-bezier(0.455, 0.03, 0.515, 0.955);
    min-width: 100%;
    background: rgba(0,0,0,.8);
    height: 100%;
}
.gallery-item:hover .text{
    opacity:1;
    animation:move-down .3s linear;
    padding: 1em;
    width:100%;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}
.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}
.h-1 {
    grid-row: span 1;
}
.h-2 {
    grid-row: span 2;
}
.h-3 {
    grid-row: span 3;
}
.h-4 {
    grid-row: span 4;
}
.h-5 {
    grid-row: span 5;
}

@media screen and (max-width:500px){
    .container{
        grid-template-columns:repeat(2,1fr)
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6 {
        grid-column:span 2;
    }
    .h-1,.h-2,.h-3,.h-4,.h-5{
        grid-row:span 2;
    }
}
@media screen and (max-width:768px){
    .container{
        grid-template-columns:repeat(2,1fr)
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6 {
        grid-column:span 2;
    }
    .h-1,.h-2,.h-3,.h-4,.h-5{
        grid-row:span 2;
    }
}

/* footer*/


/* contact */
.contact-me {
}
#contact {
    display: absolute;
    z-index: 1;
    justify-content: center;
    align-items: top;
    background-position: center;
    background-size: cover 100%;
}

#contact .box {
    color: #fff;
    margin: 2em;
}

#contact h4 {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#contact h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

#contact .contact {
    width: 100%;
}

#contact ul {
    display: grid;
    justify-items: center;
    grid-gap: -2em;
    padding: 0;
    margin: 2em 0 2em 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}

#contact .facebook {
    width: 3em;
    display: inline-block;
}

#contact .tumblr {
    margin-top: -.6em;
    width: 4.5em;
    display: inline-block;
}

#contact .linkedin {
    display: inline-block;
    margin-top: .7em;
}

#contact li {
    width: 6em;
}

#main-footer h5 {
    text-align: center;
    padding: 0;
    margin: 2em 0 0 0;
}

/* General */

#illustration {
    margin-top: 10em;
}
#design {
    margin-top: 5em;
}
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-items: center;
}

.direction-row {
    flex-direction: column;
}

/* Media Queries */

@media screen and (max-width: 670px) {
    #about .content-text {
        columns: 2;
        column-gap: 2em;
    }
    #about .content-text p {
        padding: 0;
        margin: 0;
    }
    .content-wrap, #design #section-c ul {
        grid-column: 2/4;
    }
    .box, #main-footer div {
        grid-column: span 2;
    }
    #design #illustration ul {
        display: flex;
        justify-content: space-around;
    }
    #design #illustration li {
        width: 31%;
    }
    .about-text p {
        font-size: 22px;
    }
}
@media screen and (min-width:700px) {
    .title {
        width: 80%;
    }
    .main-nav a {
        font-size: 20px;
    }
    #slider, .wrap, .slide-content {
        height: 84vh;
    }
    #about .content-text p {
        font-size: 18px;
        padding: 0 2.5em 2.5em 2.5em;
    }
    #about .content-wrap .background-roses {
        background-size: 100% auto;
    }
    #about .content-wrap .background-white {
        background-size: 90% 100%;
    }
    #about .self-portrait {
        width: 75%;
    }
    #about .welcome {
        width: 80%;
        padding-top: 6em;
    }
    #design h1 {
        font-size: 125px;
        width: 100%;
        display: center;
    }
    #design .background {
        display: grid;
        position: absolute;
        grid-template-columns: 1fr;
    }
    #design ul {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    #design li {
        overflow: hidden;
        width: 90%;
    }
    #illustration h1 {
        font-size: 125px;
        width: 100%;
        display: center;
        text-align: center;
    }
    .about-me .about-text p {
        font-size: 22px;
    }
    .about-me .bio-pic{
        width:100%;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
